name: Daily Air Report

on:
  schedule:
    - cron: '30 0 * * *' # 北京时间 08:30
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install
        run: pip install requests chinesecalendar

      - name: Sync Subscribers
        env:
          WX_APP_ID: ${{ secrets.WX_APP_ID }}
          WX_APP_SECRET: ${{ secrets.WX_APP_SECRET }}
        run: python get_subscribers.py

      - name: Push Report
        env:
          WX_APP_ID: ${{ secrets.WX_APP_ID }}
          WX_APP_SECRET: ${{ secrets.WX_APP_SECRET }}
          WX_TEMPLATE_ID: ${{ secrets.WX_TEMPLATE_ID }}
        run: python main.py